.css-1ptx2yq-MuiInputBase-root-MuiInput-root:before,
.css-1vv4lmi::before {
  border-bottom: none !important;
  outline: none !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: unset !important;
  background-color: transparent !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before,
.css-67l5gl::before {
  height: unset !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root,
.css-1p85x1k-MuiButtonBase-root-MuiAccordionSummary-root,
.css-h4y409-MuiList-root,
.css-1f1htor {
  padding: unset !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 10px;
  height: unset;
}
.css-1hqg143-MuiAccordionDetails-root,
.css-zfhh3a-MuiAccordionDetails-root,
.css-19krvgc-MuiAccordionDetails-root {
  padding: 0px 0px 0px 16px !important;
  margin-top: -15px !important;
}
.css-o4b71y-MuiAccordionSummary-content,
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded,
.css-17o5nyn,
.css-67l5gl.Mui-expanded {
  margin: 0 !important;
}
.css-67l5gl {
  box-shadow: none !important;
}
.Milestones::after,
.achievements::after {
  content: "4 achieved";
  position: absolute;
  right: 10px;
  padding: 2px 10px;
  background: #ff7474;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
}
.achievements::after {
  content: "2 new";
}
